<ion-header>
        
          <ion-navbar>
            <ion-title>{{character?.name}}</ion-title>
          </ion-navbar>
        
        </ion-header>
        
        
        <ion-content padding>
            <ion-list>
                <ion-item>Height : {{character?.height}}</ion-item>
                <ion-item>Mass Date : {{character?.mass}}</ion-item>
                <ion-item>Hair color : {{character?.hair_color}}</ion-item>
                <ion-item>Skin color : {{character?.skin_color}}</ion-item>
                <ion-item>Eye color : {{character?.eye_color}}</ion-item>
                <ion-item>Birht year : {{character?.birth_year}}</ion-item>
                <ion-item>Gender : {{character?.gender}}</ion-item>
                <button ion-item (click)=planetSelected(planet?.id)>
                    HomeWorld : {{ planet?.name }}
                </button>
              </ion-list>

              <h4>Related Films</h4>
              <ion-list>            
                  <button ion-item *ngFor="let film of listFilmsName" (click)=filmSelected(film?.id)>
                     {{ film?.name }} 
                  </button>
              </ion-list>
      
              <h4>Related Starships</h4>
              <ion-list>            
                  <button ion-item *ngFor="let starship of listStarshipsName" (click)=starshipSelected(starship?.id)>
                      {{ starship?.name }}
                  </button>
              </ion-list>
      
              <h4>Related Vehicles</h4>
              <ion-list>            
                  <button ion-item *ngFor="let vehicle of listVehiclesName" (click)=vehicleSelected(vehicle?.id)>
                      {{ vehicle?.name }}
                  </button>
              </ion-list>
      
              <h4>Related Species</h4>
              <ion-list>            
                  <button ion-item *ngFor="let species of listSpeciesName" (click)=specieSelected(species?.id)>
                      {{ species?.name }}
                  </button>
              </ion-list>
            </ion-content>