page-home {

ion-header {
	background: #333333;
}

ion-content {
    background-image: url('../assets/imgs/background.jpg');
    background-size: cover;
    background-repeat: repeat;
}

h2, p {
    text-align : center;
}

#logoAsso {
    display: block;
    margin: 0 auto;
}
#magasin {
    float : right;
}
#goodie {
    float: right;

}

}
