page-wiki {

	ion-content {
    background-image: url('../assets/imgs/background.jpg');
    background-size: cover;
    background-repeat: repeat;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}
